.cart{
    margin: 20px 0;
    &__summary{
        background-color: #000;
        color: #fff;
        padding: 20px;
        margin-top: 20px;
    }
    &__checkout{
        color: #456546;
        text-decoration: none;
        cursor: pointer;
    }
}